language: node_js
node_js:
  - "7"
install:
  - npm i
  - pip install --user hererocks
  - hererocks here --lua 5.3 -r https://github.com/mpeterv/luarocks@upgrade-install
  - export PATH="$PWD/here/bin:$PATH"
  - luarocks install luacheck --upgrade --upgrade-deps
script:
  - luacheck -q ./game/scripts/vscripts
  - lua contrib/test_oaa.lua
  - npm test
deploy:
- provider: script
  skip_cleanup: true
  script: node scripts/send-translations.js
  on:
    branch: master
env:
  global:
  - secure: CXtGIW41jxLnBpi/ousJUEfSWuHEtVkPLgln+Gez9RGkfoevyCkVdmP0ORN0+YHq7c34HCaxSy+pEY8FgbL3/+i6Bt2/i9EAO10oge5ygiCPEmdkwakooZR4pS6Qb3vB89h/DbZaAOKctfZrNs/DxWWFGM0ufDDx4TbnnZX8QNC7RypyR7oYQ/T39r/AzNxPljQjzaXGD5/YHE9Qu/foCrpwSMQ0sm/m6zXLLHXdfmR4W6EUtuvyWu42vgcCJbHQAHYzXgvrRc83wweGBSZZcqNiC8rIhfc5+w7Zyd2smmIMOpQr0b0jkfd2gs3Dxx9sLVTbAXv+OdFMOczTOHeI6cl1HzCa4mAd+ZndltJNMPl1pMUpDxC1Tp3y1xTgeRN7woag66WdhWd8Ip0m+w4sDxbZuaKr6dLrCR5PcDwhqwCcXLmIJZmcYIt913nupYmntWLmymJ7M6nmEPqDrCn76ZhafJghk7r+IHpzeCJTHgsCoBnDD9RT4zfH5FzPUcGJlM0xCeUyQ1998wxljeoX0rIApF9hfzxSn8Ql3eTk7vb2TV0NXtpQudSapegW0/UH/FJ+GeIBXCw97nS7RdcOm7XGGsDklGsxo7EcozgUu8GpzuUF2QcVAMcDkitQpMCeaq5Dc5rpSxW0vzyl+MBrNH5ABh8hb5fJxXdPflvgrwM=
  - secure: VQh/KWv4zChxmF2UNSplmBDN+X8mz5tAAfVY78mNXMV2PMpSdJO1p7wGiKdi7xI/Up/mKdn8I7Y0+ZDn+7VKDA16rYbeLDK0ZxMC8/tD+ok8VwArcFVptYhTPAT7Ss31B/o9oA6hgzw0Il0tLXgOr22rGzMzHS9J14YdYTIbyXAgNjKJUm2VFX0ldYICx3LxwOkHHljE2xT+EMhGmq/VE90KwpB4OTCAG4nYHqeg7NqB96QEwGCgM4SrIDRbX6PcvTZOfVdlls3Q+PIrFJU+GDyDhekOcjgaq8EBwgEqOZnK5L9hHCCZnmnbqh6xPojPl8bTTb4wr4TCVhxJMmov1ADZUHCDq1ZAXqVBWoAcZwTIn20zHj7QNVPtoOA2E5ZyPqqERY8OGwGNFbqoVd7aE6P8xUBtEDvKRUf+hepaxbIKQzKtmYnppPjzH1noqqzjCEZrzXzP4FvuB23U5iByVBJepTo5vDzrsKTljDsUqdpJSvdLt+1MdSF7A00WUcodZ/+PYEucUsv1JwA207UeXRcV5xHcQ/92ZD1Dx4gc/voDpYvcK0oCqbENysYkCkaqNLuCcUhlBZ6zQjwy//a6uKDUKUjo9ipxXgX9XKZ/XXLBPBMJidIHQeKV1M8B6ewtXxWZKh3DshRGyvrsCvFAMmOEEW/neCbvvbTwFQGd/0g=
