@define mainPanelWidth: 310px;
@define mainPanelHeight: 830px;
.base {
  align: right center;
  width: 100%;
  height: 100%;
}

#ShopBase {
  align: right center;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  transition-property: transform, opacity;
  box-shadow: rgba(0, 0, 0, 0.4) -4px -4px 8px 8px;
  margin-bottom: 13.4%;
  margin-right: 0px;
  flow-children: right;
}

#ShopItemBasePanel {
  height: mainPanelHeight;
  width: mainPanelWidth;
}

#ItembuildsPanel {
  width: 208px;
  height: 100%;
  background-image: url("s2r://panorama/images/hud/reborn/bg_shop_guide_psd.vtex");
  background-position: bottom;
  background-size: cover;
  flow-children: down;
  transition-property: opacity, width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.ItembuildsHidden #ItembuildsPanel {
  width: 0;
  opacity: 0;
}

.SimpleRow {
  flow-children: right;
  width: 100%;
  margin: 6px 8px;
}

.SimpleRowValue {
  align: right center;
  color: white;
  font-weight: bold;
}

#ItembuildPanelsRoot {
  width: 100%;
  flow-children: down;
  overflow: squish scroll;
}

.ItembuildItemGroup {
  width: 100%;
  flow-children: down;
}

.ItembuildItemGroupTitle {
  margin-left: 4px;
  width: 100%;
  text-overflow: shrink;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
}

.ItembuildItemGroupItemRoot {
  margin-top: 6px;
  margin-left: 5px;
  width: 100%;
  flow-children: right-wrap;
}

.ShopBase_Out {
  transform: translateX(650px);
  opacity: 0;
}

#ShopItemList {
  width: 100%;
  horizontal-align: right;
  height: 84%;
  box-shadow: -10px -10px 20px 20px rgba(0, 0, 0, 0.4);
  flow-children: down;
  background-image: url("s2r://panorama/images/hud/reborn/bg_mainshop_psd.vtex");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#ItemRecipeBox {
  width: 100%;
  align: right bottom;
  height: 16%;
  background-image: url("s2r://panorama/images/hud/reborn/bg_item_breakdown_recessed_psd.vtex");
  background-size: cover;
}

#ItemRecipeBoxRows {
  width: 100%;
  flow-children: down;
  vertical-align: center;
}

.ItemRecipeBoxRow {
  height: 40px;
  horizontal-align: center;
  flow-children: right;
}

#ShopTabs {
  align: center top;
  height: 28px;
  horizontal-align: center;
  flow-children: right;
  width: 100%;
  margin-left: 6px;
  margin-right: 6px;
  /* background-image: url("s2r://panorama/images/custom_game/shop/tabs_panel_png.vtex"); */
  /*TODO check if this should be commented */
  background-size: cover;
  border-radius: 3px;
  border: 1px solid #5b687277;
}

.ShopTabButton {
  height: 100%;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: black;
}

.ShopTabButton .RadioBox {
  visibility: collapse;
}

.ShopTabButton Label {
  margin: 4px;
  align: center center;
  font-size: 14px;
  color: #5b6872;
  font-weight: bold;
}

.ShopTabButtonSelected {
  background-color: #57646d77;
}

.ShopTabButton.ShopTabButtonSelected Label {
  color: white;
}

#ShopSearch {
  align: center top;
  height: 49px;
  width: 100%;
  flow-children: right;
}

#ShopSearchEntry {
  height: 100%;
  width: 100%;
  margin: 10px;
  margin-bottom: 6px;
  margin-left: 4px;
  font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540, Gulim, MingLiU;
  background-color: black;
  padding: 5px 7px 3px 7px;
  color: white;
  font-size: 20px;
  text-overflow: clip;
  white-space: nowrap;
  border-radius: 3px;
  border: 1px solid #3d464c;
}

#ShopSearchEntry #PlaceholderText {
  opacity: 1.0;
  transition-property: opacity;
  transition-duration: 0.2s;
  margin-top: -2px;
  color: #57646d;
  font-size: 18px;
}

#ShopSearchEntry:focus #PlaceholderText, #ShopSearchEntry.HasInput #PlaceholderText {
  opacity: 0.0;
}

#ShowHideItemguidesButton {
  width: 34px;
  height: 34px;
  margin-top: 10px;
  margin-bottom: 6px;
  margin-left: 4px;
  transition-property: brightness, opacity;
  transition-duration: 0.24s;
  background-image: url("s2r://panorama/images/hud/reborn/bg_item_build_psd.vtex");
  opacity: 0.8;
}

.ItembuildsHidden #ShowHideItemguidesButton {
  background-image: url("s2r://panorama/images/hud/reborn/bg_item_build_psd.vtex");
  opacity: 0.8;
}

.ItembuildsHidden #ShowHideItemguidesButton:hover {
  opacity: 1;
}

#ShowHideItemguidesButton:hover {
  brightness: 2.0;
}

#ShowHideItemguidesButton:active {
  wash-color: #999999;
}

#ShowHideItemguidesIcon {
  width: 100%;
  height: 100%;
  background-image: url("s2r://panorama/images/hud/reborn/close_guide_btn_psd.vtex");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  transition-property: transform;
  transition-duration: 0.24s;
}

.ItembuildsHidden #ShowHideItemguidesIcon {
  transform: rotateZ(180deg);
}

#ShopItems {
  height: 100%;
  width: 100%;
}

#ShopItemsBase {
  margin-top: 9px;
  height: 100%;
  width: 100%;
  visibility: visible;
}

#ShopSearchOverlay {
  margin-top: 1px;
  margin-left: 2px;
  height: 100%;
  width: 100%;
  visibility: collapse;
  flow-children: right-wrap;
  overflow: squish scroll;
}

.InSearchMode #ShopItemsBase {
  visibility: collapse;
}

.InSearchMode #ShopSearchOverlay {
  visibility: visible;
}

.ShopItemGroup {
  height: 100%;
  flow-children: down;
}

.CanBuy {
  border: 1px solid #CD9607;
}

.NotPurchasableItem {
  border: 1px solid red;
}

.SmallItemPanel {
  width: 45px;
  height: width-percentage( 72.7%);
  margin: 2px;
  border-radius: 3px;
}

#SmallItemButton {
  align: center center;
  width: 100%;
  height: 100%;
}

#SmallItemImage {
  align: center center;
  width: 100%;
  height: 100%;
  transition-property: brightness;
  transition-duration: 0.2s;
}

.SmallItemPanel.CanBuy:hover #SmallItemImage {
  brightness: 1.6;
}

.SmallItemPanel.CanBuy:active #SmallItemImage {
  brightness: 0.8;
  width: 1000px;
}

#SmallItemStock {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0px 0px 6px 3 #400040;
  margin-right: 0.5px;
  margin-bottom: -3px;
  align: right bottom;
}

#QuickBuyClearButtonPanel {
  background-image: url("file://{images}/control_icons/x_close.png");
  background-size: cover;
  background-position: 50% 50%;
  align: right bottom;
  height: 20px;
  width: 16px;
  margin: 2px;
  brightness: 0.4;
  transition-property: brightness;
  transition-duration: 0.15s;
}

#QuickBuyClearButtonPanel:hover {
  brightness: 1.0;
}

#QuickBuyClearButtonPanel:active {
  brightness: 0.6;
}

#QuickBuyPanelItems {
  align: left center;
  height: 100%;
  width: 232px;
  margin-left: 2px;
  margin-top: 2px;
  flow-children: right-wrap;
}

.DropDownValidTarget {
  width: 100%;
  height: 100%;
}

.DropDownMode .DropDownValidTarget {
  box-shadow: inset #0B93BEBF 20px 20px 40px 40px;
}


/* Standart, 16x9 */

#QuickBuyPanel {
  background-image: url("s2r://panorama/images/hud/reborn/quickbuy_bg_psd.vtex");
  align: right bottom;
  margin-bottom: 60px;
  margin-right: 0px;
  height: 65px;
  width: 262px;
  transition-property: transform;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

DOTAHud.IsBeforeGameplay #QuickBuyPanel {
  transform: translateY(230px);
  transition-duration: 1s;
  transition-delay: 2s;
}

.HUDFlipped #QuickBuyPanel {
  horizontal-align: left;
}

#QuickBuyStickyButtonPanel {
  align: right top;
  margin: 2px;
  margin-top: 4px;
}

.QuickBuyStickyItem {
  align: center center;
  margin: 0px;
  width: 47px;
  border-width: 2px;
}

.QuickbuyItemPanel {
  width: 40px;
  margin: 1px;
  border-radius: 1px;
}

.ItemRecipeBoxRow.ItemRecipeBoxRowLength7 .SmallItemPanel {
  margin: -1px;
}

.ItemRecipeBoxRow.ItemRecipeBoxRowLength8 .SmallItemPanel {
  width: 40px;
  margin-left: -4px;
}

.ItemRecipeBoxRow.ItemRecipeBoxRowLength9 .SmallItemPanel {
  width: 39px;
  margin-left: -3px;
  margin-right: -3px;
}

#StockOverlay {
  height: 100%;
  background-color: #000000DD;
}

#StockTimer {
  color: white;
  font-size: 20px;
  text-shadow: 0px 0px 6px 6 #000000;
  horizontal-align: center;
  vertical-align: center;
}

.UnitItemlikeRecipePanel {
  height: width-percentage( 60.8%);
  width: 57.6px;
  flow-children: down;
  border-radius: 2px;
}

.UnitItemlikeRecipePanel:disabled {
  saturation: 0;
  wash-color: #D9FAF9;
  blur: gaussian( 1.1);
}

.UnitItemlikeRecipePanelChance {
  horizontal-align: right;
  margin-bottom: -7px;
  color: white;
  margin-top: -2px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 0px 6px 6 black;
}

#ItemRecipeBoxDrops {
  width: 100%;
  height: 100%;
  visibility: collapse;
}

.ItemsPageInnerContainer {
  height: 100%;
  horizontal-align: center;
  flow-children: right-wrap;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.15s;
}

.ItemsPageInnerContainer.SelectedPage {
  opacity: 1;
}

DropDownMenu.DropDownMenuVisible {
  width: 208px;
}

DropDown Label, DropDownMenu Label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

#Itembuild_select {
  background-color: black;
  padding: 6px 8px;
  border-width: 0px;
}

#Itembuild_select .DropDownChild {
  color: #616f7b;
  text-decoration: underline;
  text-transform: uppercase;
}
