
.RegularHero
{
  background-image: url("s2r://panorama/images/items/bottle_png.vtex");
}
.DBZArcana
{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_contributor.png");
}

#DefaultSoheiSet Panel{
  background-image: url("file://panorama/images/heroes/sohei/arcanas/DefaultSet.png");
}
#PepsiSoheiSet Panel{
  background-image: url("file://panorama/images/heroes/sohei/arcanas/PepsiSohei.png");
}
#DBZSoheiSet Panel{
  background-image: url("file://panorama/images/heroes/sohei/arcanas/DBZSoheiSet.png");
}


#DefaultElectricianSet Panel{
  background-image: url("file://panorama/images/heroes/electrician/arcanas/DefaultSet.png");
}
#RockElectricianSet Panel{
  background-image: url("file://panorama/images/heroes/electrician/arcanas/RockElectrician.png");
}

#Bottle0 Panel{
  background-image: url("s2r://panorama/images/items/bottle_png.vtex");
}
#Bottle1 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_contributor.png");
}
#Bottle2 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_tournament.png");
}
#Bottle3 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_03.png");
}
#Bottle4 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_20.png");
}
#Bottle5 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_50.png");
}
#Bottle6 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_baumi.png");
}
#Bottle7 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_timo.png");
}
#Bottle8 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_frej.png");
}
#Bottle9 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_melon.png");
}
#Bottle10 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_karmatic.png");
}
#Bottle11 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_athight.png");
}
#Bottle12 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_calmstormred.png");
}
#Bottle13 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_ghostfrombe.png");
}
#Bottle14 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_jamesgoodfellow.png");
}
#Bottle15 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_zedling.png");
}
#Bottle16 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_adhesivejotun.png");
}
#Bottle17 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_archimo.png");
}
#Bottle18 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_godsend24.png");
}
#Bottle19 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_greenscreen.png");
}
#Bottle20 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_gymleadergiovani.png");
}
#Bottle21 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_silverfennekin.png");
}
#Bottle22 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_takiru.png");
}
#Bottle23 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_therealxagent.png");
}
#Bottle24 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_yommi1999.png");
}
#Bottle25 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_fabianotten.png");
}
#Bottle26 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_devilsunrise.png");
}
#Bottle27 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_mrpootis.png");
}
#Bottle28 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_tokengoat.png");
}
#Bottle29 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_sms77.png");
}
#Bottle30 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_assassinsfurr.png");
}
#Bottle31 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_hl_vortex.png");
}
#Bottle32 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_pavlav.png");
}
#Bottle33 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_nologic.png");
}
#Bottle34 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_original.png");
}
#Bottle35 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_firenere.png");
}
#Bottle36 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_goldenhamster.png");
}
#Bottle37 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_hylageo.png");
}
#Bottle38 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_icedragon241.png");
}
#Bottle39 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_jamesgoodfellow_2.png");
}
#Bottle40 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_nastydaddy.png");
}
#Bottle41 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_lordsxey.png");
}
#Bottle42 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_shonkjr.png");
}
#Bottle43 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_zapp.png");
}
#Bottle44 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_sdakfreezes.png");
}
#Bottle45 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_brickbrack743.png");
}
#Bottle46 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_yoloswag.png");
}
#Bottle47 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_kyler.png");
}
#Bottle48 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_maxpower.png");
}
#Bottle49 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_trufflehunt.png");
}
#Bottle50 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_darkknighthawk.png");
}
#Bottle51 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_zeldamasterrt.png");
}
#Bottle52 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_nohnius.png");
}
#Bottle53 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_archemagarch.png");
}
#Bottle54 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_obby.png");
}
#Bottle55 Panel{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_darkonius.png");
}


.RegularBottle
{
  background-image: url("s2r://panorama/images/items/bottle_png.vtex");
}
.DevBottle
{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_contributor.png");
}
.CustomBottle
{
  background-image: url("file://panorama/images/items/custom/bottles/bottle_darkknighthawk.png");
}
