.ResourcePanel
{
  margin-right: 290px;
  align: right bottom;
  border-right: 1px solid #00000088;
  flow-children: down;
}

.CorePointsPanel
{
  width: 105px;
  height:  60px;
  background-image:  url("s2r://panorama/images/hud/reborn/courier_gold_bg_262_psd.vtex");
  background-size: 387px 60px;
  border-right: 1px solid #00000088;
}

.CorePointsLabelPanel
{
  width: 56px;
  height: 36px;
  background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_psd.vtex");
  box-shadow: #00000055 0px 0px 2px 2px;
  brightness: 1;
  z-index: -1;
  align: right bottom;
  margin-right: 12px;
  margin-bottom: 12px;
  transition-property: background-image;
  transition-duration: .18s;
  transition-timing-function: ease-in-out;
  tooltip-position: top;
}

#CorePointsText
{
  width: 100%;
  font-family: monospaceNumbersFont;
  text-shadow: 0px 1px 0px 2.0 #00000077;
  font-size: 22px;
  font-weight: bold;
  color: #ffeeaa;
  text-align: right;
  margin-left: 5px;
  margin-right: 30px;
  margin-top: 1px;
  vertical-align: center;
  horizontal-align: left;
  text-overflow: shrink;
}

.CorePointsIconPanel
{
  width: 22px;
  height: 18px;
  opacity: 0.6;
  tooltip-position: left;
  horizontal-align: right;
  vertical-align: center;
  margin-right: 16px;
}

#CorePointsIcon
{
  width: 25px;
  height: 21px;
  horizontal-align: center;
  vertical-align: center;
}

#CorePointsExchangePanel {
  background-color: #000000da;
  background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
  background-repeat: no-repeat;
  background-size: cover;
  height: 175px;
  margin-bottom: 5px;
  width: 210px;
  visibility: collapse;
  flow-children: down;
}

#CorePointsExchangePanel.visible_overlay
{
  visibility: visible;
}

.UpgradeCoreText
{
  text-shadow: 0px 1px 0px 2.0 #00000077;
  font-size: 22px;
  font-weight: bold;
  color: #ffeeaa;
  margin-left: 45px;
  margin-top: 7px;
}

.UpgradeCoreIcon
{
  width: 43px;
  height: 32px;
  horizontal-align: center;
  vertical-align: center;
  margin-top: 2px;
}
