#GameLengthPicker
{
  width: 1250px;
  height: 170px;
  margin-top: 100px;
  flow-children: right;
  horizontal-align: center;
  background-image: url("file://{images}/custom_game/TeamSelect_Gamemode_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat round;
  background-color: transparent;
}

#GameLengthPicker .GameLengthOption
{
  padding: 21px 40px;
  width: fill-parent-flow (1);
  flow-children: down;

}

#GameLengthPicker #ShortGame Panel.RadioBox
{
  margin-left: 117px;
  margin-top: -4px;
}

#GameLengthPicker #NormalGame Panel.RadioBox
{
  margin-left: 93px;
  margin-top: -4px;
}
#GameLengthPicker #LongGame Panel.RadioBox
{
  margin-left: 115px;
  margin-top: -4px;
}

#GameLengthPicker RadioButton:not(:selected) Panel.RadioBox
{
  box-shadow: none;
  background-image: url("file://{images}/custom_game/TeamSelect_Button_off.png");
  background-size: 100% 100%;
  background-repeat: no-repeat round;
  background-color: transparent;
  border: 3px solid #000000;
}
#GameLengthPicker  RadioButton:selected Panel.RadioBox
{
  box-shadow: none;
  background-image: url("file://{images}/custom_game/TeamSelect_Button_on.png");
  background-size: 100% 100%;
  background-repeat: no-repeat round;
}

#GameLengthPicker Label
{
  margin-top: -15px;
  margin-left: 160px;
  font-size: 12px;
}


#GameLengthPicker Label.description
{
  margin-top: 25px;
  margin-left: 10px;
  height: 60px;
  white-space: normal;
  text-transform: none;
  font-size: 16px;
}
