.AllWardsPanel
{
  width: 130px;
  /* width: 115px; */
  height:  56px;
  align: right bottom;
  /* align: right top; */
  flow-children: right;
  margin-bottom: 200px;
  margin-right: 10px;
  /* margin-right: 49px;  */
  /* margin-top: 52px; */
}

.WardPanel
{
  width: 60px;
  height: 100%;
  /* margin: 5px; */
  opacity:  0.6;
  tooltip-position: left;
  horizontal-align: right;
  vertical-align: center;
}

.WardIcon
{
  width: 60px;
  height: 40px;
  horizontal-align: center;
  vertical-align: top;
  background-image: url("s2r://panorama/images/conduct/ovw-bar-bg_png.vtex");
}

.WardButtonHotkey
{
  background-color: #2127268a;
  box-shadow: fill #000000bb 1px 0px 1px 1px;
  border: 1px solid black;
  border-radius: 2px;
  z-index: 1;
  height: 13px;
}

#ObserverWardHotkeyLabel
{
  font-size: 10px;
  color: white;
  text-shadow: 1px 1px 0px 2 #000000;
  text-align: center;
}

#ObserverCooldownLabel
{
  font-size: 14px;
  color: white;
  z-index: 1;
  vertical-align: bottom;
  margin-left: 1px;
  text-shadow: 1px 1px 0px 2 #000000;
}

#ObserverWardCountLabel
{
  color: white;
  align: right bottom;
  text-shadow: 0px 0px 3px 1 red;
  z-index: 1;
}

#SentryWardHotkeyLabel
{
  font-size: 10px;
  color: white;
  text-shadow: 1px 1px 0px 2 #000000;
  text-align: center;
}

#SentryCooldownLabel
{
  font-size: 14px;
  color: white;
  z-index: 1;
  vertical-align: bottom;
  margin-left: 1px;
  text-shadow: 1px 1px 0px 2 #000000;
}

#SentryWardCountLabel
{
  color: white;
  align: right bottom;
  text-shadow: 0px 0px 3px 1 red;
  z-index: 1;
}
