.CustomGlyphRadarContainer
{
    vertical-align: bottom;
    background-size: 100% 100%;
    width: 100%;
    margin-left: 244px;
    height: 280px;
    width: 74px;
    vertical-align: bottom;
    background-size: cover;
}

.CustomGlyphRadarContainerParent
{
    vertical-align: bottom;
}

.GlyphContainer
{
    vertical-align: bottom;
    horizontal-align : right;
    width: 44px;
    height: 44px;
    margin-right: 24px;
    margin-bottom: 6px;
}

.RadarContainer
{
    vertical-align: bottom;
    horizontal-align : right;
    width: 44px;
    height: 44px;
    margin-right: 24px;
    margin-bottom: 50px;
}

.OAACooldown
{
    width: 39px;
    height: 39px;
    background-color: #000000dd;
    background-size: 100% 100%;
    border-radius: 50%;
    horizontal-align : center;
    vertical-align : middle;
    transition-timing-function: linear;
    transition-property: clip;
    transition-duration: 10ms;
}

.PoopWardActive
{
  background-image: url("file://{resources}/images/hud/reborn/poop_ward.png");
}
.PoopWardInActive
{
  background-image: url("file://{resources}/images/hud/reborn/poop_ward_inactive.png");
}
.ScanActive
{
  background-image: url("s2r://panorama/images/hud/reborn/icon_scan_on_psd.vtex");
}
.ScanInactive
{
  background-image: url("s2r://panorama/images/hud/reborn/icon_scan_off_psd.vtex");
}

.Icon
{
  width: 39px;
  height: 39px;
  background-size: 100% 100%;
  border-radius: 50%;
  horizontal-align : center;
  vertical-align : middle;
  visibility: visible;
}

.Hidden
{
  visibility: collapse;
}


