#GameLengthPicker
{
  width: 1250px;
  height: 170px;
  margin-top: 100px;
  flow-children: right;
  horizontal-align: center;
  background-image: url("file://{images}/custom_game/team_select/TeamSelect_Gamemode_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat round;
  background-color: transparent;

  padding: 0px 10px;
}

#GameLengthPicker .GameLengthOption
{
  padding: 20px 40px;
  margin-top: -4px;
  width: fill-parent-flow (1);
  flow-children: down;
  /* it's nice to turn this on for visual spacing */
  border: 1px solid transparent;
}

#GameLengthPicker #ShortGame
{
  padding-left: 46px;
}

#GameLengthPicker #NormalGame
{
  padding-left: 27px;
}
#GameLengthPicker #LongGame
{
  padding-left: 55px;
}

#GameLengthPicker Panel.RadioBox
{
  margin-left: 100px;
}
#GameLengthPicker RadioButton:not(:selected) Panel.RadioBox
{
  box-shadow: none;
  background-image: url("file://{images}/custom_game/team_select/TeamSelect_Button_off.png");
  background-size: 100% 100%;
  background-repeat: no-repeat round;
  background-color: transparent;
  border: 3px solid #000000;
}
#GameLengthPicker  RadioButton:selected Panel.RadioBox
{
  box-shadow: none;
  background-image: url("file://{images}/custom_game/team_select/TeamSelect_Button_on.png");
  background-size: 100% 100%;
  background-repeat: no-repeat round;
}

#GameLengthPicker Label.title
{
  margin-top: -20px;
  margin-left: 130px;
}


#GameLengthPicker Label.description
{
  margin-top: 25px;
  margin-left: 10px;
  height: 60px;
  white-space: normal;
  text-transform: none;
  font-size: 16px;
}
