.MainHolder {
  width: 100%;
  height: 100%;
  background-color: #252525;
}

#PregameBG {
  width: 100%;
  height: 100%;
  blur: gaussian(4);
  horizontal-align: center;
  pre-transform-scale2d: 2;
  vertical-align: center;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0.5s;
  transition-timing-function: ease-out;
  opacity: 1;
}

.TeamStatus {
  width: 100%;
  height: 10%;
  flow-children: right;
}

.FillWidth {
  width: fill-parent-flow( 1.0 );
  height: 100%;
}

#TeamRadiant {
  width: 30%;
  height: 100%;
}

#Clock {
  width: 10%;
  height: 100%;
}

#TeamDire {
  width: 30%;
  height: 100%;
}

Label {
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
  font-weight: normal;
  font-size: 30px;
  color: white;
}

#MainContent {
  width: 100%;
  height: 90%;
  margin-top: 10%;
  flow-children: right;
  transition-property: transform, opacity;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
  opacity: 1;
  //transform: scaleX(1) scaleY(1);
}

.LeftColumn {
  width: 25%;
  height: 100%;
  flow-children: down;
  padding-left: 15px;
}

#Minimap {
  width: 100%;
  height: 45%;
  margin: 0 0 15px 0;
}

.MiddleColumn {
  margin: 0 6px;
  width: 50%;
  height: 100%;
  flow-children: down;
}

.HeroHolder {
  margin: 0 0 40px 0;
  width: 100%;
  flow-children: right-wrap;
}

.HeroContainer {
  margin: 3px;
  width: 100px;
  height: 50px;
  box-shadow: #000000ff -2px -2px 4px 4px;
  border-radius: 5px;
}

.HeroContainer:hover {
  box-shadow: #999999ff -2px -2px 4px 4px;
}

.HeroContainer.Activated {
  box-shadow: #ffffffff -2px -2px 4px 4px;
}

.HeroCard {
  height: 100%;
  width: 100%;
}

.RightColumn {
  width: 25%;
  height: 100%;
  flow-children: down;
  padding-right: 15px;
}

#HeroSelector {
  margin: 0 0 15px 0;
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #171A25dd  ), to( #171A25dd ) );
  width: 100%;
  height: 45%;
}

#HeroPreview {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 100%;
  opacity-mask: url("s2r://panorama/images/masks/hero_model_opacity_mask_png.vtex");
  transform: translateY( -86px );
  vertical-align: top;
  horizontal-align: middle;
}

#HeroPickContainer {
  width: 100%;
  height: 15%;
  flow-children: right;
  margin: 12px;
  vertical-align: bottom;
  horizontal-align: middle;
}

#HeroLockIn {
  height: 100%;
  width: fill-parent-flow(1.0);
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #404D65dd ), to( #2B3445dd ) );
  box-shadow: #0000008f -6px -6px 12px 12px;
}

#HeroLockLabel {
  font-size: 35px;
  vertical-align: middle;
  horizontal-align: middle;
  color: white;
  text-transform: uppercase;
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}

#HeroRandom {
  height: 100%;
  width: 93px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #404D65dd ), to( #2B3445dd ) );
  box-shadow: #0000008f -6px -6px 12px 12px;
  margin-left: 12px;
}

#HeroRandomIcon {
  background-image: url("s2r://panorama/images/control_icons/random_dice_psd.vtex");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 65%;
  width: 65%;
  margin: 5%;
  vertical-align: top;
  horizontal-align: middle;
}

#HeroRandomLabel {
  font-size: 12px;
  vertical-align: bottom;
  horizontal-align: middle;
  color: white;
  text-transform: uppercase;
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}

#CustomChat {
  width: 100%;
  height: 40%;
  background-color: #171A2577;
  padding: 10px;
}




#StrategyContent {
  width: 100%;
  height: 90%;
  margin-top: 10%;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-delay: 1s;
  transition-timing-function: ease-out;
  opacity: 0;
  transform: scaleX(1) scaleY(1);
  background-image: url("file://{images}/custom_game/strategy/strategy_map.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.BossIcon {
  background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  opacity: 0;
  transform: translateY(-5%);
  width: 50px;
  height: 50px;
}

.BossIcon Label {
  font-size: 14px;
  padding-left: 2px;
  vertical-align: middle;
  horizontal-align: middle;
}

#Boss1r {
  margin-left: 34%;
  margin-top: 35%;
  transition-delay: 2.5s;
}

#Boss1d {
  margin-left: 58%;
  margin-top: 14%;
  transition-delay: 2.5s;
}

#Boss2r {
  margin-left: 30%;
  margin-top: 46%;
  transition-delay: 3s;
}

#Boss2d {
  margin-left: 56%;
  margin-top: 11.5%;
  transition-delay: 3s;
}

#Boss3r {
  margin-left: 52%;
  margin-top: 48%;
  transition-delay: 3.5s;
}

#Boss3d {
  margin-left: 47.5%;
  margin-top: 12%;
  transition-delay: 3.5s;
}

#Boss4r {
  margin-left: 67%;
  margin-top: 46%;
  transition-delay: 4s;
}

#Boss4d {
  margin-left: 41%;
  margin-top: 12.5%;
  transition-delay: 4s;
}

#Boss5r {
  margin-left: 32.5%;
  margin-top: 16%;
  transition-delay: 4.5s;
}

#Boss5d {
  margin-left: 72%;
  margin-top: 30%;
  transition-delay: 4.5s;
}
