.NeedGreedPass
{
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  padding-bottom: 250px;
}
#NeedGreedPassSlider
{
  height: 100%;
  flow-children: right;
  transition: transform 0.2s ease-out 0s;

  transform: translateX(-340px);
  padding-right: 10px;
  padding-bottom: 10px;
}
#NeedGreedPassSlider.Expanded
{
  width: 100%;
  transform: translateX(0px);
  transition: transform 0.1s linear 0s;
}
#NeedGreedPassSlider.Expanded .ExpandItems
{
  opacity: 0;
}
.NeedGreedPass .ExpandItems
{
  height: 200px;
  width: 20px;
  background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
  background-size: 16px 60px;
  background-repeat: no-repeat;
  background-position: center center;
  wash-color: rgba(80, 80, 80, 1);
  background-color: #333;
  opacity: 0.7;
  border: 1px solid black;
  vertical-align: bottom;
  border-radius: 0 10px 10px 0;
  transition: opacity 0.1s ease-in 0s;

  box-shadow: #00ff00ff 0px 0px 8px 0px;
}
.NeedGreedPass .ExpandItems.Inactive
{
  opacity: 0;
}
.NeedGreedPass .ItemHopper
{
  flow-children: up;
  height: 100%;
}
.NeedGreedPass .ItemPanel
{
  horizontal-align: left;
  height: 83px;
  width: 340px;
  background-image: url("s2r://panorama/images/hud/reborn/bg_minimap_psd.vtex");
  background-size: 100% auto;
  flow-children: right;
  padding-top: 1px;
  animation-name: slidein;
  animation-duration: 0.4s;
  margin-top: 5px;

  transition: position 0.2s ease-out 0s;
}

/*
 * PREVIEW
 */
.NeedGreedPass .ItemPanel .ItemPeview
{
  width: 86px;
  height: 100%;
  margin: 10px;
  flow-children: down;
}

.NeedGreedPass .ItemPanel .ItemPeview Label
{
  text-transform: uppercase;
  font-size: 10px;
  height: 20px;
}

.NeedGreedPass .ItemPanel DOTAItemImage
{
  vertical-align: center;
}

/*
 * DESCRIPTION AREA
 */
.NeedGreedPass .ItemPanel .DescriptionArea
{
  width: fill-parent-flow (1);
  flow-children: down;
  padding: 5px 0 10px 0;
}
.NeedGreedPass .ItemPanel .DescriptionArea Label.ItemTitle
{
  height: 20px;
  /*text-transform: uppercase;*/
}
.NeedGreedPass .ItemPanel .DescriptionArea Label.Description
{
  font-size: 12px;
  white-space: normal;
  height: fill-parent-flow (1);
  line-height: 10px;
}
.NeedGreedPass .ItemPanel .DescriptionArea .UpgradesInto
{
  margin-top: 14px;
  height: 20px;
  flow-children: right;
}
.NeedGreedPass .ItemPanel .DescriptionArea .UpgradesInto Label
{
  text-transform: uppercase;
  font-size: 10px;
  width: 30px;
  height: 25px;
  line-height: 10px;
}
.NeedGreedPass .ItemPanel .DescriptionArea .UpgradesInto DOTAItemImage
{
  margin-right: 5px;
}

/*
 * BUTTONS
 */
.NeedGreedPass .ItemPanel .Buttons
{
  margin: 5px;
  flow-children: down;
  border-left: 1px solid #555;
  padding-left: 5px;
}
.NeedGreedPass .ItemPanel .Buttons RadioButton
{
  vertical-align: top;
  flow-children: right;
  horizontal-align: right;
}
.NeedGreedPass .ItemPanel .Buttons .RadioBox
{
  opacity: 0;
  visibility: collapse;
}
.NeedGreedPass .ItemPanel .Buttons Button
{
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
}
.NeedGreedPass .ItemPanel .Buttons RadioButton Label
{
  /*visibility: collapse;*/
}
.NeedGreedPass .ItemPanel .Buttons RadioButton Label, .NeedGreedPass .ItemPanel .Buttons RadioButton Button
{
  horizontal-align: center;
}

.NeedGreedPass .ItemPanel .Buttons .Need Button
{
  background-image: url("s2r://panorama/images/hud/reborn/icon_courier_upgrade_on_psd.vtex");
}
.NeedGreedPass .ItemPanel .Buttons .Greed Button
{
  background-image: url("s2r://panorama/images/hud/reborn/gold_small_psd.vtex");
}
.NeedGreedPass .ItemPanel .Buttons .Pass Button
{
  background-image: url("s2r://panorama/images/hud/reborn/icon_courier_boost_on_psd.vtex");
}

@keyframes 'slidein' {
  from {
    opacity:0;
    transform: translateY(-100px);
  }

  to {
    opacity:1;
    transform: translateY(0px);
  }
}

@keyframes 'slideitallin' {
  from {
    opacity:1;
    transform: translateX(-340px);
  }

  to {
    opacity:1;
    transform: translateX(0px);
  }
}
