.GameInfoHolder
{
  width: 475px;
  height: 100%;
  horizontal-align: left;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform: translateX(-450px);
}

#InfoButton
{
  width: 25px;
  height: 40px;
  horizontal-align: right;
  background-color: #171A25;
  border-radius: 0 10px 10px 0;
  margin-top: 20%;
  transition-property: brightness;
  transition-duration: 0.2s;
}

.ButtonIcon
{
  horizontal-align: center;
  vertical-align: center;
  opacity: 0.4;
  width: 20px;
  height: 20px;
  background-image: url("s2r://panorama/images/custom_gameinfo_icon_psd.vtex");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#InfoButton:hover
{
  brightness: 2;
}

.OAAGameInfo
{
    margin-right: 25px;
    width:100%;
    height: 100%;
    padding: 15px;
    flow-children: down;
    background-color: #171A25;
}

Label
{
    font-size: 16px;
    color: #949494;
    vertical-align: top;
}

#Title
{
    flow-children: right;
    width: 100%;
}

#TitleName
{
  width: 100%;
    color: #ffcc55;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

}

#BriefDescription
{
}

#DuelsText,
#BossesText,
#ReflexCoreText,
#FarmingCoreText,
#FarmingCaveText,
#UpgradeCoreText
{
    width: 70%;
}

.Header
{
	  font-size: 26px;
    font-weight: bold;
	  margin-top: 10px;
	  text-transform: uppercase;
}

#ObjectiveHeader
{
	margin-top: 0px;
}

/*====================| ROW A |=======================*/
#DuelsRow
{
    margin-top: 25px;
}

#DuelsText
{
  height: 100%;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
	 text-align: left;
}

#DuelsImage
{
    margin-top: 0px;
    width: 100px;
    height: 100px;
}

/*====================| ROW B |=======================*/
#BossesRow
{
    margin-top: 25px;
}

#BossesImage
{
    margin-top: 0px;
    width: 100px;
    height: 100px;
}

#BossesText
{
  height: 100%;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: right;
}

/*====================| ROW C |=======================*/

#FarmingCoreRow
{
    margin-top: 25px;
}

#FarmingCoreImage
{
    margin-top: 0px;
    width: 100px;
    height: 100px;
}

#FarmingCoreText
{
  height: 100%;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
}

/*====================| ROW D |=======================*/
#ReflexCoreRow
{
    margin-top: 25px;
}

#ReflexCoreImage
{
    margin-top: 0px;
    width: 100px;
    height: 100px;
}

#ReflexCoreText
{
  height: 100%;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: right;
}


/*====================| ROW E |=======================*/
#FarmingCaveRow
{
    margin-top: 25px;
}

#FarmingCaveImage
{
    margin-top: 0px;
    width: 100px;
    height: 100px;
}

#FarmingCaveText
{
  height: 100%;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
}

/*====================| ROW F |=======================*/
#UpgradeCoreRow
{
    margin-top: 25px;
}

#UpgradeCoreImage
{
    margin-top: 0px;
    width: 100px;
    height: 100px;
}

#UpgradeCoreText
{
  height: 100%;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: right;
}

.InfoRow
{
    flow-children: right;
    width: 100%;
}

Label .duels,
Label .bosses,
Label .reflexcore,
Label .farmingcore,
Label .farmingcave,
Label .upgradecore
{
    color: #aaccff;
    font-weight: bold;
}
