
#StrategyContent {
  width: 100%;
  height: 90%;
  margin-top: 10%;
  transition-property: transform, opacity;
  transition-duration: 2s;
  transition-delay: 1.25s;
  transition-timing-function: ease-out;
  opacity: 0;
  transform: scaleX(1) scaleY(1);
}

.BossIcon {
  background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  opacity: 0;
  transform: translateY(-5%);
  width: 50px;
  height: 50px;
  //wash-color: #ff0000;
}

.BossIcon Label {
  font-size: 14px;
  padding-left: 2px;
  vertical-align: middle;
  horizontal-align: middle;
}

.CaveIcon {
  background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  opacity: 0;
  transform: translateY(-5%);
  width: 50px;
  height: 50px;
  //wash-color: #ff0000;
}

.CaveIcon Label {
  font-size: 12px;
  padding-left: 2px;
  vertical-align: middle;
  horizontal-align: middle;
}

.DuelIconHolder {
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  opacity: 0;
  transform: translateY(-5%);
  width: 50px;
  height: 65px;
}

.DuelIcon {
  background-image: url("s2r://panorama/images/hud/reborn/icon_damage_psd.vtex");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: translateY(5px) translateX(-5px) rotateZ(135deg);
  width: 37.5px;
  height: 37.5px;
  vertical-align: bottom;
  horizontal-align: middle;
  wash-color: #FF0000;
}

.DuelIconHolder Label {
  font-size: 14px;
  padding-left: 2px;
  vertical-align: top;
  horizontal-align: middle;
}

#Boss1r {
  margin-left: 34%;
  margin-top: 35%;
  transition-delay: 3s;
}

#Boss1d {
  margin-left: 58%;
  margin-top: 14%;
  transition-delay: 3s;
}

#Boss2r {
  margin-left: 30%;
  margin-top: 46%;
  transition-delay: 3.5s;
}

#Boss2d {
  margin-left: 56%;
  margin-top: 11.5%;
  transition-delay: 3.5s;
}

#Boss3r {
  margin-left: 52%;
  margin-top: 48%;
  transition-delay: 4s;
}

#Boss3d {
  margin-left: 47.5%;
  margin-top: 12%;
  transition-delay: 4s;
}

#Boss4r {
  margin-left: 67%;
  margin-top: 46%;
  transition-delay: 4.5s;
}

#Boss4d {
  margin-left: 41%;
  margin-top: 12.5%;
  transition-delay: 4.5s;
}

#Boss5r {
  margin-left: 32.5%;
  margin-top: 16%;
  transition-delay: 5s;
}

#Boss5d {
  margin-left: 72%;
  margin-top: 30%;
  transition-delay: 5s;
}

#Duel1 {
  margin-left: 77%;
  margin-top: 37.5%;
  transition-delay: 5.5s;
}

#Duel2 {
  margin-left: 35%;
  margin-top: 9.5%;
  transition-delay: 5.5s;
}

#Cave1r {
  margin-left: 26%;
  margin-top: 27%;
  transition-delay: 6s;
}

#Cave1d {
  margin-left: 66%;
  margin-top: 18%;
  transition-delay: 6s;
}

#Cave2r {
  margin-left: 22%;
  margin-top: 33%;
  transition-delay: 6.5s;
}

#Cave2d {
  margin-left: 64%;
  margin-top: 14%;
  transition-delay: 6.5s;
}

#Cave3r {
  margin-left: 17%;
  margin-top: 41%;
  transition-delay: 7s;
}

#Cave3d {
  margin-left: 62.5%;
  margin-top: 10%;
  transition-delay: 7s;
}
